<div>
	<div class="panel panel-default" style="max-width:500px">
	  <div class="panel-body">
		<form name="feedbackForm">
			<div class="form-inline" style="padding:5px">
			    <label for="UserNamelabel">Name: </label>
			    <input type="text" class="form-control" ng-model="name" required placeholder="Username"/><br />
			</div>
			<div class="form-inline">
		  		<label for="Emaillabel">E-mail:</label>
		  		<input type="email" class="form-control" ng-model="email" required placeholder="example@example.com"/><br />
		  	</div>
		  	<div class="form-group" >
			    <label for="Commentlabel">Comment: </label>
			    <textarea type="text" class="form-control" ng-model="comment" / rows=3></textarea><br/>
			</div>
			<div class="checkbox ">
			  <label>
			    <input type="checkbox" ng-model="showscreenshot"  ng-click="info()">
			   		Click to automatically attach a screenshot of this page
			   		
			  </label>
			</div>
			<div id="screenshot"  style="cursor:pointer;" ng-hide="!showscreenshot">
			   			<div><a  data-toggle="modal"  data-target="#imageModal"  >
			   			 <img src="{{imageData}}" alt="loading..." height="100" width="468" /> </a></div>
			</div>
			<div class="form-group">
				<label for="ratelabel">Rate Us:</label>		
				<rating ng-model="rate" max="max" on-hover="hoveringOver(value)" on-leave="overStar = null" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" ></rating>
				<span class="label" ng-class="{'label-warning': rate<3, 'label-info': rate>=3 && rate<7, 'label-success': rate>=7}" >{{rate}}/{{max}}</span>
				<button class="btn btn-sm btn-danger pull-right">Cancel</button>
				<button type="submit" ng-click="submit()" ng-disabled=" !showscreenshot || feedbackForm.$invalid " class="btn btn-sm btn-primary pull-right">Submit</button>
			</div>
		</form>	
	  </div>
	</div>
	<div>
		<div class="modal  fade"  id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myImageModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			      <div class="modal-header" style="border-bottom-style:none;">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			      </div>			        
			      <div class="modal-body">
			        <img src="{{imageData}}" height="500" width="838"/>
			      </div>
			    
	  			</div>
			</div>
		</div>
	</div>
</div>